.player {
    /* position: fixed; */
    height: 72px;
    grid-area: now-playing-bar;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--background-press);
}

.player__playing {
    min-width: 180px;
    padding-inline-start: 8px;
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    transform: translateX(0);
    transition: transform 0.25s cubic-bezier(0.3, 0, 0, 1);
}

.player__cover {
    width: 56px;
    height: 56px;
    border-radius: 4px;
    margin-right: 8px;
}

.player__text {
    margin: 0 8px;
}

.player__track {
    font-size: 14px;
}

.player__artist {
    font-size: 11px;
}

.player__controls {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 722px;
    width: 40%;
}

.player__buttons {
    display: flex;
    gap: 16px;
    margin-bottom: 8px;
    flex-flow: row nowrap;
    margin-bottom: 12px;
    width: 100%;
}

.player__buttons_like button svg:hover {
    transform: scale(1.04);
}

.player__buttons_play button {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: var(--button-size);
    color: #000;
    display: flex;
    justify-content: center;
    min-width: var(--button-size);
    position: relative;
    transition: none 33ms cubic-bezier(0.3, 0, 0.7, 1);
    transition-property: none;
    transition-duration: 33ms;
    transition-property: all;
}

.player__left,
.player__right {
    display: flex;
    flex: 1;
    gap: 8px;
}

.player__left {
    justify-content: flex-end;
}

.playback__bar {
    --playback-bar-grid-gap: 8px;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--playback-bar-grid-gap);
    justify-content: space-between;
    width: 100%;
}

.playback__time {
    font-size: 11px;
    color: var(--text-subdued, #6a6a6a);
    min-width: 40px;
}

.playback__time_current {
    text-align: right;
}

.renderTrack {
    position: relative;
    background-color: hsla(0, 0%, 100%, 0.3);
    border-radius: 2px;
    height: 4px;
    width: 100%;
    display: flex;
}

.renderTrack_sound {
	max-width: 93px;
	margin-right: 20px;
}

.renderTrack__progress {
    height: 4px;
    border-radius: 2px;
    background-color: #1db954;
}

.renderThumb {
    z-index: 100;
    background-color: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    outline: none;
    cursor: default !important;
    height: 12px;
    width: 12px;
    transform: translate(0, -4px);
}

.player__sound {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 180px;
    width: 30%;
}
